<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fujitsu.takehome.transferapp.repository.mapper.TransactionMapper">

    <resultMap id="transactionEntity" type="fujitsu.takehome.transferapp.entity.Transaction">
        <id column="id" property="id"/>
        <result column="idempotency_key" property="uniqueId" javaType="String"/>
        <result column="from_account_id" property="fromAccountId"/>
        <result column="to_account_id" property="toAccountId"/>
        <result column="amount" property="amount"/>
        <result column="currency" property="currency" javaType="String"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <insert id="createTransaction" useGeneratedKeys="true" keyProperty="transaction.id">
        INSERT INTO transactions (idempotency_key, from_account_id, to_account_id, amount, currency)
        VALUES (#{transaction.uniqueId}, #{transaction.fromAccountId}, #{transaction.toAccountId}, #{transaction.amount}, #{transaction.currency})
    </insert>

    <select id="getTransactionByIdempotencyKey" resultMap="transactionEntity">
        SELECT
            id, idempotency_key, from_account_id, to_account_id, amount, currency, created_at
        FROM transactions WHERE idempotency_key = #{unique_id};
    </select>

    <select id="getAccountTransactionHistories" resultMap="transactionEntity">
        SELECT id, idempotency_key, from_account_id, to_account_id, amount, currency, created_at
        FROM transactions
        WHERE (from_account_id = #{account_id}  OR to_account_id = #{account_id})
          <if test="last_id_seen != null">
              AND id &lt; #{last_id_seen}
          </if>
        ORDER BY id DESC
        LIMIT #{limit}
    </select>
</mapper>